*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    max-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-celular{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.instagram-celular img{
    height: 50rem;
}

.instagram-login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    margin-top:1rem ;
}

.content:nth-child(1){
    min-height: 19rem;

}

.content:nth-child(2){
    min-height: 3rem;
}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.perfil img{
    height: 6rem;
}

.login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.logout{
    color: #0095f6;
    margin-top: 1rem;
}

.sem-conta{
    color: rgb(160,160,160);
}

.link-blue{
    color: #0095f6;
}

.propaganda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(./img/play.png);
}

.app-download:nth-child(2){
    background-image: url(./img/apple.png);
}

.logo{
    width: 70%;
}

/* media queries */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 600px){
    body{
        background-color: #ffffff;
    }
    .instagram-wrapper{
        width: 90%;
    }

    .instagram-celular{
        display: none;
    }

    .instagram-login{
        width: 100%;
    }
    .content{
        border: 1px solid transparent ;
    }
}